.page__advertisement{
    margin: 15px 0;
    
    & .topadvertisement{
        &__element{
            display: block;
            width: 100%;
            height: 115px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}