.newpost{
    &__posttype,
    &__postform{
        display: block;
        float: left;
        width: 100%;
    }
    &__posttype{
        ul.posttype__list{
            list-style: none;
            margin: 0;
            padding: 0;

            li{
                display: block;
                float: left;
                box-sizing: border-box;
                background-color: #fff;
                color: $c-primary;
                font-family: $f-headlines;
                font-size: $fs-large;
                transition: 300ms;

                padding: 30px 16px;
                text-align: center;

                width: 50%;

                @media #{$small}{
                    width: auto;
                    min-width: 150px;
                }

                &:hover{
                    cursor: pointer;
                }
                &:hover,&.active{
                    color: #fff;
                    background-color: $c-primary;
                }
            }
        }
    }
    &__postform{
        display: none;

        &.active{
            display: block;
        }

        .newpost__form{
            fieldset{
                border: none;
                display: block;
                float: left;
                width: 100%;
                margin-bottom: 15px;
                padding: 0;

                label,
                input:not([type=file]),
                textarea{
                    display: block;
                    float: left;
                    width: 100%;
                }
                label{
                    font-family: $f-plain;
                    font-size: $fs-small;
                    font-weight: bold;
                    color: $c-primary;
                    padding-bottom: 6px;
                }
                textarea{
                    height: 250px;
                }
                input[type=submit]{
                    width: auto;
                }
                .filehandler{
                    display: block;
                    float: left;
                    position: relative;

                    width: 200px;
                    height: 40px;
                    overflow: hidden;

                    .fileinput__mask{
                        display: block;
                        width: 200px;
                        height: 40px;
                        line-height: 40px;

                        background-color: $c-primary;

                        font-family: $f-plain;
                        font-size: $fs-small;
                        font-weight: bold;
                        color: #fff;    
                        text-align: center;

                        box-sizing: border-box;
                        transition: 300ms;

                        border-bottom: 2px solid darken($c-primary, 5%);

                        i{
                            padding-right: 6px;
                        }

                        &:hover{
                            cursor: pointer;
                            background-color: darken($c-primary, 5%);
                        }
                    
                    }
                    input{
                        visibility: hidden;
                    }
                }

                input[type=file]{
                    background-color: red;
                    width: auto;
                }
            }
        }

        .form{
            &__errorblock,
            &__confirmation{
                display: block;
                float: left;
                width: 100%;
                min-height: 0px;
                padding-bottom: 5px;

                font-family: $f-plain;
                font-size: $fs-small;

                span{
                    display: block;
                    float: left;
                    box-sizing: border-box;

                    border-radius: 3px;
                    background-color: #dd0f2b;
                    color: #fff;

                    padding: 6px 4px;
                    margin-top: 5px;
                    margin-right: 5px;
                }
            }
            &__confirmation{
                span{
                    background-color: rgb(66, 175, 56);
                }
            }
        }
    }
}