html, body{
    margin: 0; padding: 0;
    background-color: $c-secondary;
}

.page{
    &__widget{
        float: left;
    }
    &__topbar,
    &__header,
    &__advertisement,
    &__newsletter,
    &__footer,
    &__content{
        float: left;
        width: 100%;
    }
}

.container{
    box-sizing: border-box;
    position: relative;
    margin: 0 auto; 

    width: 100%;
    padding: 0 25px;
    @media #{$medium}{
        width: 920px;
        padding: 0;
    }
    @media #{$large}{
        width: 1140px;
        padding: 0;
    }
}