.page__topbar{
    display: none;
    background-color: #f2f2f2;
    padding: 10px 0;
    font-family: $f-headlines;

    @media #{$small}{
        display: block;
    }

    /* General styling */
    * {
        font-size: $fs-small;
        line-height: 12px;
    }
    a, a:link, a:active, a:visited{
        color: $c-primary;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    /* Topbar menu */
    .topbar__menu{
        margin: 0; padding: 0;
        list-style: none;

        & li{
            display: inline-block;
            margin-right: 20px;
        }
    }

    & .row > div:nth-of-type(2){
        text-align: right;
    }
}