.page__sidebar{
    width: 100%;
    margin: 0;
    float: left;

    @media #{$medium}{
        margin-bottom: 40px;
    }

    header{
        color: #fff;
        box-sizing: border-box;
        background-color: $c-primary;
        padding: 8px;

        h3{
            position: relative;
            font-family: $f-headlines;
            font-size: $fs-sidebar;
            color: #fff;
        }

        @media #{$medium}{
            color: $c-primary;
            background-color: #f2f2f2;

            h3{
                color: $c-primary;
                
                &::after{
                    content: '';
                }
            }
        }
    }
}

.sidebar{
    &--default{
        width: 100%;
        margin: 0; padding: 0;
        list-style: none;
        font-family: $f-headlines;

        li{
            width: 100%;
            display: block;
            float: left;

            a{
                text-decoration: none;
                font-size: $fs-medium;
                color: $c-grey;
                transition: 300ms;

                display: block;
                width:  100%;
                box-sizing: border-box;
                padding: 20px 9px;
                background: #fff;
                border-bottom: 1px solid #f2f2f2;

                &:hover{
                    background-color: #fafafa;
                }
            }
        }
    }
    &--expandable{
        display: none;

        @media #{$medium}{
            display: block;
        }
    }
    &--mobilehidden{
        display: none;
        
        @media #{$medium}{
            display: block;
        }
    }
    &__latestnews{
        & .sidebar__item{
            a{
                float: left;
            }
            a > span{
                display: block;
                float: left;
                width: 100%;
            }
            a > .sidebarfeed__posttitle{
                color: $c-primary;
                font-size: $fs-large;
            }
            a > .sidebarfeed__postdate{
                color: #c7c7c7;
            }
        }
    }
}