.page__header{
    background-color: #fff;
    box-sizing: border-box;
    height: 100px;
    padding: 16px 0;

    background: #fff;

    /* Logo */
    .row > div:first-of-type{
        a img{
            width: auto;
            max-width: 250px;
            height: 68px;
        }
    }
    /* Navigations */
    & .navigation--desktop{
        display: none;
        text-align: right;
        font-family: $f-headlines;
        @media #{$medium}{
            display: block;

            ul.header__menu{
                list-style: none;
                margin: 0;  

                /* First level menu */
                & > li{
                    position: relative;
                    display: inline-block;
                    margin-left: 13px;
                    line-height: 72px;
                    
                    &, & > a{
                        font-weight: bold;
                        color: $c-primary;
                        text-decoration: none;
                    }

                    & > a{
                        font-size: $fs-medium;
                        padding: 13px 6px;
                        transition: 300ms;

                        &:hover{
                            color: #fff;
                            background-color: $c-primary;
                        }
                    }


                }
                & > li.menu-item-has-children > a::after{
                    content: '\f107';
                    font-family: Font Awesome\ 5 Free;
                    font-weight: 900;
                    padding-left: 7px;
                }
                /* Second level menu */
                & > li > ul{
                    display: none;
                    position: absolute; padding: 0;
                    list-style: none; box-sizing: border-box;
                    z-index: 999; background-color: #ffffff;
                    left: 0; width: 230px; text-align: left;

                    & > li{
                        box-sizing: border-box;
                        &, & > a{
                            display: block;
                            float: left;
                            width: 100%;
                            line-height: normal;
                        }

                        & > a {
                            background-color: #fff;
                            font-size: $fs-medium;
                            transition: 300ms;
                            text-decoration: none;
                            color: $c-primary;
                            padding: 8px 12px;
                            border-bottom: 1px solid #f3f3f3;

                            &:hover{
                                color: #fff;
                                background-color: $c-primary;
                            }
                        }
                    }
                }
                & > li:hover > ul{
                    display: block;
                }
            }
        }
    }
    & .navigation--mobile{
        display: block;
        text-align: right;
        @media #{$medium}{
            display: none;
        }

        span.nav__trigger i{
            line-height: 72px;
            font-size: 32px;
            color: $c-primary;
            padding-left: 10px;
        }
    }
}