.widget{
    &--fullsize{
        width: 100%;
    }
}

.page__widget{
    header{
        display: block;
        float: left;
        width: 100%;

        h2{
            font-size: $fs-section;
            color: $c-primary;
            font-family: $f-headlines;
            margin-bottom: 0;
        }
    }
    & > .feed{
        display: block;
        float: left;
        width: 100%;
        margin-top: 20px;   
        
        & > .row > article{
            margin-bottom: 12px;

            @media #{$small}{
                margin-bottom: 0;
            }

            & > a{
                text-decoration: none;
            }

            & > a > .feed__post{
                box-sizing: border-box;
                background-color: #fff;
                padding: 26px 15px;

                & > .headline{
                    margin: 0 0 8px;
                }
                & > .author,
                & > .time{
                    font-size: $fs-small;
                    color: #b3b3b3; 
                    font-family: $f-plain;
                    font-weight: bold;
                    padding-right: 15px;

                    &::before{
                        font-family: Font Awesome\ 5 Free;
                        font-weight: 900;
                        padding-right: 5px;
                        font-size: 13px;
                    }
                }
                & > .author{
                    &::before{
                        content: '\f007';
                    }
                }
                & > .time{
                    &::before{
                        content: '\f017';
                    }
                }
            }
        }
    }
}