.page__userprofile{
    margin-top: 15px;

    .usersection{
        &__profileheader{
            text-align: center;

            img, h2{
                display: inline-block;
                
                @media #{$small}{
                    display: inline;
                }
            }
            img{
                width: 64px;
                height: 64px;
                border-radius: 50%;

                @media #{$small}{
                    width: 92px;
                    height: 92px;
                }
            }
            h2{
                position: relative;
                width: 100%;
                margin-top: 10px;
                font-size: $fs-section;

                @media #{$small}{
                    width: auto;
                    margin-left: 15px;
                    margin-top: 0;
                    bottom: 38px;
                }
            }
        }
        &__postfeed{
            header{
                display: block;
                float: left;
                width: 100%;
                text-align: right;

                h2, a.btn{
                    height: 36px;
                    display: block;
                }
                a.btn{
                    max-width: 160px;
                    float: right;
                    margin-top: 19px;
                }
                h2{
                    float: left;
                    width: auto;
                    max-width: calc(100% - 180px);
                }
            }
            .postfeed{
                &__post{
                    display: flex;
                    float: left;
                    width: 100%;
                    background-color: #fff;
                    box-sizing: border-box;

                    .post{
                        &__userimage,
                        &__body{
                            box-sizing: border-box;
                        }
                        &__userimage{
                            img{
                                width: 36px;
                                height: 36px;
                                border-radius: 50%;
                            }
                        }
                        &__body{
                            padding-left: 23px;
                            width: calc(100% - 23px - 36px);
                        }
                        /* Content */
                        &__date,
                        &__content{
                            font-family: $f-plain;
                            color: #000;

                            display: block;
                            float: left;
                            width: 100%;
                        }
                        &__content{
                            img{
                                display: block;
                                margin-top: 13px;
                                width: 100%;
                                max-height: 140px;
                                object-fit: cover;
                                border-radius: 4px;

                                @media #{$medium}{
                                    max-height: 210px;
                                }
                                @media #{$large}{
                                    max-height: 260px;
                                }
                            }
                        }
                        &__date{
                            font-weight: bold;
                            color: #d8d8d8;
                            font-size: $fs-small;
                        }
                    }
                }
            }
        }
        &__editprofile{
            .userprofile{
                &__label{
                    margin-bottom: 4px;
                }
                &__name{
                    font-family: $f-headlines;
                    color: $c-primary;
                    font-size: $fs-profilename;
                }
                &__fields{
                    display: block;
                    float: left;
                    width: 100%;
                    margin-bottom: 25px;
                    fieldset{
                        display: block;
                        float: left;
                        width: 100%;
                        margin: 0; 
                        padding: 0;
                        border: 0;
                    }
                    label{
                        display: block;
                        width: 100%;
                        font-family: $f-plain;
                        font-size: $fs-small;
                        font-weight: bold;
                        color: #1d3958;
                        padding-bottom: 6px;
                    }
                    input:not([type="submit"]), textarea{
                        display: block;
                        float: left;
                        width: 100%;
                        margin-bottom: 12px;
                    }
                    .form{
                        &__errorblock,
                        &__confirmation{
                            display: block;
                            width: 100%;
                            padding-bottom: 5px;

                            .form__error{
                                display: block;
                                float: left;
                                box-sizing: border-box;
                                border-radius: 3px;
                                background-color: #dd0f2b;
                                color: #fff;
                                padding: 6px 4px;
                                margin-right: 5px;
                                margin-bottom: 5px;
                                font-family: $f-plain;  
                                font-size: $fs-small;
                            }
                        }
                        &__confirmation{
                            .form__error{
                                background-color: #42af38;
                            }
                        }
                    }
                }
            }
        }
    }
}