.homepage{
    &__featuredposts{
        & > .row{
            margin: 0;

            & > div{
                padding: 0;
            }
        }
    }
    &__featuredposts,
    &__highlightedposts{
        display: block;
        float: left;
        width: 100%;
    }
}

.featured{
    &__post{
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center center; 
        box-sizing: border-box;
        position: relative;

        @media #{$small}{
            height: 370px;
        }

        $progressBarHeight: 3px;

        .loading-bar{
            z-index: 150;
            position: absolute;
            display: block;
            width: 100%;
            height: $progressBarHeight;
            background-color: #fff;
            left: 0; bottom: 0;


            &-progress{
                z-index: 200;
                position: relative;
                display: block;
                width: 0;
                height: $progressBarHeight;
                background-color: $c-primary;
            }
        }
        .content-wrapper{
            z-index: 100;
            position: absolute;
            left: 40px; right: 40px;
            bottom: 35px;
            
            h1.title{
                color: #fff;
                font-size: 38px;
                margin-bottom: 13px;
                line-height: 37px;
            }
            span.author,
            span.time{
                color: #fff;
                font-family: $f-headlines;
                font-size: $fs-large;

                &::before{
                    font-family: Font Awesome\ 5 Free;
                    font-weight: 900;
                    padding-right: 5px;
                    font-size: 13px;
                }
            }
            span.author::before{
                content: '\f007';
            }
            span.time::before{
                content: '\f017';
                padding-left: 10px;
            }
        }
        .gradient-mask{
            z-index: 90;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
        }
    }
    &__thumbnail{
        display: block;
        float: left;
        width: calc(100% / 3);
        height: 110px;
        background-color: #fff;
        box-sizing: border-box;
        text-align: left;
        transition: 300ms;

        &:hover{
            background-color: $c-primary;
            border-color: $c-primary;
            cursor: pointer;

            h2{
                color: #fff;
            }
        }
        &:not(:last-child){
            border-right: 1px solid #f2f2f2;
        }

        @media #{$medium}{
            width: 100%;
            height: calc(370px / 3);

            &:not(:last-child){
                border-right: 0;
                border-bottom: 1px solid #f2f2f2;
            }
        }

        h2{
            font-size: 17px;
            width: 100%;
            height: 110px;
            padding: 0 6px;
            color: $c-primary;
            display: table-cell;
            vertical-align: middle;
            line-height: 17px;

            @media #{$small}{
                font-size: 21px;
                padding-left: 25px; padding-right: 25px;   
                line-height: 20px; 
            }

            @media #{$medium}{
                height: calc(370px / 3);
            }
        }
        
        &.active{
            background-color: $c-primary;

            h2{
                color: #fff;
            }
        }
    }
}

.homepage{
    &__highlightedposts{
        header{
            display: block; 
            float: left;
            width: 100%;

            h2{
                font-size: $fs-section;
            }
        }
        .homepageAds{
            span.adDesktop,
            span.adMobile{
                position: relative;
                width: 100%;

                img{
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                }
            }
            span.adMobile{
                padding-top: 20px;
                height: 220px;
                overflow: hidden;
            }
        }
    }
    &__staticBlock{
        margin: 20px 0 40px;

        display: block;
        float: left;
        width: 100%;
        height: 160px;
        padding: 20px 0;
        background-size: cover;
        background-position: center center;

        .row{
            height: 160px;
        }

        .banner{
            &__content{
                text-align: left;

                img{
                    max-width: 100%;
                }
            }
            &__button{
                text-align: right;

                .btn--default{
                    font-family: $f-headlines;
                    font-size: 14px;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 20px 25px;

                    box-sizing: border-box;
                    border: 2px solid;
                    background-color: rgba(0,0,0, .71);
                    transition: 300ms;

                    /* Custom variables */
                    border-color: var(--styleCol);
                    color: var(--styleCol);

                    &:hover{
                        color: #fff;
                        background-color: var(--styleCol);
                    }
                }
            }
        }
    }
    &__remainingposts{
        display: block;
        width: 100%;
        float: left;

        & .sidebar--homepage{
            list-style: none;
            float: left;
            margin: 0; padding:  0; margin-bottom: 20px;
            width: 100%;

            li{
                display: block;
                float: left;
                width: 50%;
                box-sizing: border-box;
                padding: 40px 20px;
                font-family: $f-headlines;
                font-size: $fs-large;

                transition: 300ms;
                background-color: #fff;
                color: $c-primary;
                
                &:first-child{
                    border-right: 1px solid #f2f2f2;
                }

                /* Breakpoints */
                @media #{$medium}{
                    width: 100%;
                    &:first-child{
                        border-right: 0;
                        border-bottom: 1px solid #f2f2f2;
                    }
                }

                /* Inner elements */
                i{
                    display: none;
                    padding-right: 8px;

                    @media #{$small}{
                        display: inline;
                    }
                }
                &:hover,
                &.active{
                    color: #fff;
                    background-color: $c-primary;
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }

        & .feed{
            display: none;

            &--active{
                display: block;
            }
            &__empty{
                font-family: $f-plain;
                font-size: $fs-plaintext;
            }
        }
    }
}