.page__content{
    h1{
        margin-bottom: 26px;
    }
    h1, h2, h3{
        font-family: $f-headlines;
        color: $c-primary;  
    }
    p{
        font-family: $f-plain;
        font-size: $fs-plaintext;
        line-height: 18px;
        width: 90%;
        font-weight: 400;
        color: #000;

        img{
            text-align: center;
            max-width: 100% !important;
            height: auto !important;
            padding: 10px 0;
            border-radius: 4px;
        }

        iframe{
            padding: 10px 0;
        }

        a{
            color: $c-primary;
            font-weight: bold;
        }
    }
}