.page__footer{
    background-color: #2e2e2e;
    padding: 45px 0;
    
    .row div{
        margin-bottom: 24px;
        @media #{$medium}{
            margin-bottom: 0;
        }
        font-family: $f-plain;
        
        header{
            font-family: $f-headlines;
            font-size: 20px;

            * {
                margin-top: 0;
            }
        }
        &, & a {
            color: #fff;
            font-size: 13px;
        }

        /* Footer navigation */
        ul.footer__menu{
            padding: 0; margin: 0;
            list-style: none;

            li{
                a{
                    text-decoration: none;
                    transition: 300ms;
                    &::before{
                        content: '\f0da';
                        font-family: Font Awesome\ 5 Free;
                        font-weight: 900;
                        padding-right: 7px;
                    }
                    &:hover{
                        &, &::before{
                            color: $c-primary-light;
                        }
                    }
                }
            }
        }

        /* Footer Social media */
        ul.footer__social-menu{
            padding: 0; margin: 0;
            list-style: none;

            li{
                display: inline;
                padding-right: 10px;
                
                a{
                    text-decoration: none;
                    font-size: 32px;
                    transition: 300ms;

                    &:hover{
                        color: $c-primary-light;
                    }
                }
            }
        }
    }
}