.offcanvas{
    position: fixed;
    display: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 17px 0;
    z-index: 9999;
    background-color: #fff;

    @media #{$small}{
        width: 50%;
    }

    header{
        box-sizing: border-box;
        padding: 0 17px 17px;

        .offcanvas__controls{
            display: inline-block;
            width: 85%;
            line-height: 48px;
            font-size: 30px;
            color: $c-primary;
            text-align: right;
        }
        .offcanvas__logo{
            height: 48px;
            width: auto;
        }
        h2.offcanvas__headline{
            font-family: $f-headlines;
            color: $c-primary;
            font-size: $fs-section;
            margin-top: 3px;
        }
    }
    &__nav,
    &__user{
        float: left;
        width: 100%;
        padding-bottom: 30px;
    }
    /* Navigation */
    &__nav{
        ul.header__menu{
            margin: 0;
            padding: 0;
            list-style: none;
            width: 100%;
            font-family: $f-headlines;
            border-top: 1px solid #f2f2f2;

            /* Top level menu */
            li{
                width: 100%;

                a{
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 8px 16px;
                    border-bottom: 1px solid #f2f2f2;
                    font-size: $fs-offcanvas;   
                    color: $c-primary; text-decoration: none;
                }
            }

            li.menu-item-has-children{
                & > a::after{
                    content: '\f107';
                    font-family: Font Awesome\ 5 Free;
                    font-weight: 900;
                    padding-left: 12px;
                }
            }

            /* Submenu */
            li > ul{
                display: none;
                list-style: none;
                margin: 0; padding: 0;
                width: 100%;
                
                & > li{
                    background-color: #f2f2f2;
                    border-bottom: 1px solid #dfdfdf;
                }
            }
        }   
    }
    /* Scrollable content */
    &__scrollable{
        display: block;
        float: left;
        position: static;
        width: 100%;    
        height: calc(90% - 20px);
        overflow: auto;
        margin-top: 20px;
        left: 0;
    }
    /* User profiles */
    &__user{
        header{
            text-align: center;

            .user{
                &__name{
                    font-family: $f-headlines;
                    color: $c-primary;
                }
                &__avatar{
                    width: 64px;
                    height: 64px;
                    object-fit: cover;
                    border-radius: 32px;
                }
            }
        }
    }
}