.page__newsletter{
    height: 420px;
    margin-top: 30px;
    background-size: cover; background-position: center center;
    background-image: url('../dist/assets/images/bck-newsletter.jpg');

    .row{
        padding: 105px 0 85px 0;
        height: auto;

        @media #{$medium}{
            height: 420px;
            padding: 0;
        }

        & > div{
            &:first-child{
                display: none;
                @media #{$medium}{
                    display: block;
                }

                img{
                    height: auto;
                    width: 100%; max-width: 100%;
                }
            }
            &:nth-of-type(2){
                h2{
                    margin-top: 0; margin-bottom: 0;    
                    font-size: 42px;
                    color: $c-primary;  
                    font-family: $f-headlines;
                }
                h3{
                    margin-top: 0; margin-bottom: 0;    
                    font-size: 24px;
                    color: #fff;
                    font-family: $f-headlines;
                }
                span.newsletter__note{
                    font-style: italic; color: #fff;
                    font-family: $f-plain;
                    font-size: 13px;
                }
                form{
                    padding: 8px 0;

                    div{
                        display: inline-block;

                        &.tnp-field-email{
                            width: calc(100% - 90px);

                            @media #{$medium}{
                                width: calc(100% - 185px);
                            }

                            input{
                                width: 100%;
                            }

                            @media #{$medium}{
                                max-width: 480px;
                            }
                        }
                        &.tnp-field-button{
                            width: 85px;

                            @media #{$medium}{
                                width: 175px;
                            }

                            input{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}