.community-feed{
    .post{
        display: flex;
        float: left;
        width: 100%;
        background-color: #fff;
        margin-bottom: 16px;
        box-sizing: border-box;
        padding: 20px 15px;

        &__userimage,
        &__body{
            min-height: 50px;   
        }
        &__userimage{
            display: block;
            width: 48px;
            margin-right: 12px;
            
            img{
                width: 36px;
                height: 36px;
                border-radius: 50%;
            }
        }
        &__body{
            display: block;
            width: calc(100% - 48px - 12px);

            .post{
                &__date,
                &__content{
                    display: block;
                    float: left;
                    width: 100%;
                }  
                &__date{
                    font-family: $f-plain;
                    font-size: $fs-small;
                    font-weight: bold;
                    color: #d8d8d8;
                }
                &__content{
                    p{
                        margin-top: 0;
                    }
                    img{
                        display: block;
                        position: relative;
                        width: 100%;
                        max-width: 100%;
                        max-height: 140px;
                        object-fit: cover;
                        border-radius: 4px;
                        margin-bottom: 13px;

                        @media #{$small}{
                            max-height: 210px;
                        }
                        @media #{$medium}{
                            max-height: 210px;
                        }
                        @media #{$large}{
                            max-height: 260px;
                        }
                    }
                }
            }
        }
    }
}
