article.postfeed__post{
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
    background-color:#fff;
    margin-bottom: 21px;
    padding: 20px 17px;

    .postfeed{
        &__postheadline{
            text-decoration: none;
            color: $c-primary;
            font-size: $fs-postfeedheadline;

            h2{
                margin-top: 0;
                margin-bottom: 12px;
                line-height: 28px;
            }
        }
        &__postauthor,
        &__posttime{
            font-size: $fs-small;
            color: #b3b3b3; 
            font-family: $f-plain;
            font-weight: bold;
            padding-right: 15px;

            &::before{
                font-family: Font Awesome\ 5 Free;
                font-weight: 900;
                padding-right: 5px;
            }
        }
        &__postauthor{
            &::before{
                content: '\f007';
                font-size: 13px;
            }
        }
        &__posttime{
            &::before{
                content: '\f017';
                font-size: 13px;
            }
        }
        &__postexcerpt{
            a{
                font-weight: bold;
                text-decoration: none;
                color: $c-primary;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
        &__postthumbnail{
            display: block;
            position: relative;
            width: 100%;
            padding-top: 66%; /* 4:3 aspect ratio */

            border-radius: 3px;
            overflow: hidden;
            background-size: cover;
            background-position: center center;
        }
    }
}

.postfeed{
    &__pagination{
        display: block;
        float: left;
        width: 100%;
        text-align: center;
        a{
            display: inline-block;
            text-decoration: none;
            color: $c-primary;
            font-family: $f-plain; font-size: $fs-small; font-weight: bold;
            padding: 10px; transition: 300ms;

            &:hover{
                background-color: $c-primary;
                color: #fff;
            }
        }
    }
}