/* Breakpoints */
$small:     'only screen and (min-width: 48em)';
$medium:    'only screen and (min-width: 62em)';
$large:     'only screen and (min-width: 72em)';

/* Colours */
$c-primary: #1d3958;
$c-primary-light: #20599b;
$c-secondary: #f2f2f2;
$c-grey: #a4a4a4;

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800&subset=latin-ext');
@import url("https://use.typekit.net/orv4nsw.css"); 

$f-plain: 'Montserrat';
$f-headlines: 'serenity';

/* Font sizes */
$fs-small: 12px;
$fs-plaintext: 13px;
$fs-medium: 15px;
$fs-large: 17px;
$fs-section: 32px;

$fs-postfeedheadline: 20px;
$fs-sidebar: 22px;
$fs-offcanvas: 21px;

$fs-profilename: 30px;