.hidden{
    &-desktop{
        display: block;

        @media #{$medium}{
            display: none !important;
        }
    }
    &-mobile{
        display: none;

        @media #{$medium}{
            display: block;
        }
    }

    &-xs{
        display: none;
        
        @media #{$small}{
            display: block;
        }
    }
}

.um {
    opacity: 1 !important;
}