input, textarea{
    font-family: $f-plain;
    background-color: #fff;
    padding: 10px 8px;
    border: none;
    
    /* Negate safari */
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="button"],
input[type="submit"],
.btn{
    border: none;
    color: #fff;
    background-color: $c-primary;
    transition: 300ms;

    &:hover{
        cursor: pointer;
        background-color: darken($c-primary, 5%);
    }
}

/* Buttons */
.btn{
    &--default{
        display: inline-block;
        border: none;
        transition: 300ms;
        padding: 10px 8px;
        font-family: $f-plain;
        text-align: center;
        font-size: $fs-plaintext;
        text-decoration: none;
        box-sizing: border-box;

        &:hover{
            cursor: pointer;
        }
    }
    &--primary{
        color: #fff;
        background-color: $c-primary;

        &:hover{
            background-color: darken($c-primary, 5%);
        }
    }
    &--secondary{
        color: #141414;
        background-color: #dfdfdf;

        &:hover{
            background-color: darken(#dfdfdf, 5%);
        }
    }
    &--offcanvas{
        width: 100%;
        margin-bottom: 8px;
    }
}